services:
  nginx:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ../files/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build:
      context: .
      dockerfile: Dockerfile
